---
import ContactForm from "../components/ContactForm.astro";
import CTAButton from "../components/CTAButton.astro";
import CTAPayment from "../components/CTAPayment.astro";
import CTASubscribe from "../components/CTASubscribe.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout confetti={true}>

  <!-- One -->
  <section id="one" class="tiles">
    <article>
      <span class="image">
        <img src="./images/pic01.jpg" alt="" />
      </span>
      <header class="major">
        <h3>We create</h3>
        <p>Fun, family-friendly spaces</p>
      </header>
    </article>
    <article>
      <span class="image">
        <img src="./images/pic02.jpg" alt="" />
      </span>
      <header class="major">
        <h3>We have</h3>
        <p>Built-in furniture, office, library</p>
      </header>
    </article>
    <article>
      <span class="image">
        <img src="./images/pic03.jpg" alt="" />
      </span>
      <header class="major">
        <h3>We use</h3>
        <p>Self-sufficient, green-house, solar power</p>
      </header>
    </article>
    <article>
      <span class="image">
        <img src="./images/pic04.jpg" alt="" />
      </span>
      <header class="major">
        <h3>We offer</h3>
        <p>Affordable, robotic construction</p>
      </header>
    </article>
    <article>
      <span class="image">
        <img src="./images/pic05.jpg" alt="" />
      </span>
      <header class="major">
        <h3>We provide</h3>
        <p>Nostalgic, cottage designs</p>
      </header>
    </article>
    <article>
      <span class="image">
        <img src="./images/pic06.jpg" alt="" />
      </span>
      <header class="major">
        <h3>We maximize</h3>
        <p>Home space, functionality</p>
      </header>
    </article>
    <hr />
    <a
      href="#gallery"
      class="button primary fit icon solid fa-images"
      >View Gallery</a
    >
  </section>

  <section id="callout">
    <div class="inner">
      <ul class="actions">
        <CTAButton
          href="/blog/tree-fort-my-first-house"
          label="READ: From a Humble Tree Fort To Family Company 🌳🏡"
        />
      </ul>
    </div>
  </section>

  <!-- Two -->
  <section id="two">
    <div class="inner">
      <header class="major">
        <h2>Why are these cottages<br /><i>so much</i> better?</h2>
      </header>
      <p>
        Traditionally, home space has been valued in the number of square feet.
        We'd rather maximize designed space in functionality.
      </p>
      <ul>
        <li>Typically less than 900 sq/ft (footprint: 13' x 28')</li>
        <li>Fixed components like bookcases, swings and love seats</li>
        <li>Very little movable furniture</li>
        <li>Better use of cubic space</li>
        <li>Little is better, efficiently meeting a major customer need</li>
        <li>
          3D CAD modeled to precision (see how with
          <a
            href="https://www.alibre.com/customer-story-gingerbread-homes/"
            target="_blank">Alibre</a
          >!)
        </li>
      </ul>
      <CTASubscribe />
      <br />
      <br />
      <CTAPayment />
    </div>
  </section>

  <section id="testimonials">
    <div class="inner">
      <div class="row">
        <div class="col-6 col-12-small">
          <h1>Reviews</h1>

          <ul class="alt testimonials">
            <li>
              <h3>"Cozy and very creative."</h3>
              <blockquote>
                "What I liked most about the GB Cottage prototype was that it
                was cozy and very creative. I also liked the functional features
                like the laundry chute, and I loved the Solarium!"
              </blockquote>
              <p>~Vicki B.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="floor-plans">
    <div class="inner">
      <header class="major">
        <h2>Floor Plans, Tours, and History</h2>
      </header>
      <div class="video-container">
        <iframe
          class="youtube"
          src="https://www.youtube-nocookie.com/embed/adGrg2elbvE"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <iframe
          class="youtube"
          src="https://www.youtube-nocookie.com/embed/SsP1GzChO0E"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </section>

  <section id="gallery" class="gallery">
    <div class="inner">
      <header class="major">
        <h2>🎞️ Photo Gallery 🎞️</h2>
      </header>
      <div class="gallery-content">
        <button class="gallery-show button primary">
          <i class="fas fa-mouse-pointer"></i>
          Click to Open Gallery
          <i class="fas fa-images"></i>
        </button>
        <div id="flick" class="flicking-viewport gallery">
          <div class="flicking-camera"></div>
        </div>
        <p class="gallery-instructions">
          ⏪ flick images to scroll ⏩
        </p>
      </div>
    </div>
  </section>

  <!-- Three -->
  <section id="three">
    <div
      class="inner"
      style="display: flex; flex-flow: column; align-items: center"
    >
      <header class="major">
        <h2>Starting Price</h2>
      </header>
      <h1>
        <span style="font-size: 1rem; font-style: italic">at</span>
        $189k
      </h1>
      <p>per cottage</p>
    </div>
  </section>

  <ContactForm />
</MainLayout>

<style is:inline>
  .testimonials .avatar {
    display: block;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10%;
    float: left;
    margin-inline: 1rem;
  }

  .gallery-instructions {
    text-align: center;
    display: none;
  }
  div#flick {
    cursor: grab;
  }
  div.flicking-panel {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div#flick img {
    max-width: 33vw;
    max-height: 50vh;
    margin: 10px;
    /* add nice border and shadow */
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* on hover, add a slight scale */
    transition: transform 0.2s ease-in-out;
  }
  div#flick img:hover {
    transform: scale(1.02);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
</style>
