---
---

<li style="list-style: none;">
  <a
    href="https://gingerbreadhomes.us14.list-manage.com/subscribe?u=d54442221fb82d60b23ad497a&id=cc2fb6d4ec"
    class="button fit icon solid fa-envelope">Subscribe to Newsletter</a
  >
</li>
