---
import BaseHead from "./Head.astro";

export interface Props {
  title?: string;
  css?: string;
  confetti?: boolean;
}

const { props } = Astro;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead {...props} />
  </head>
  <body class="is-preload">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-KSRB3SN"
        height="0"
        width="0"
        style="display: none; visibility: hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <header id="header" class="alt">
        <a href="index.html" class="logo"
          ><strong>Gingerbread</strong> <span>Homes</span>
        </a>
        <nav>
          <a href="#menu">Menu</a>
        </nav>
      </header>

      <!-- Menu -->
      <nav id="menu">
        <ul class="links">
          <li><a href="./">Home</a></li>
          <!-- <li><a href="landing.html">Landing</a></li> -->
          <!-- <li><a href="generic.html">Generic</a></li> -->
          <!-- <li><a href="elements.html">Elements</a></li> -->
        </ul>
        <ul class="actions stacked">
          <li>
            <a
              href="https://gingerbreadhomes.us14.list-manage.com/subscribe?u=d54442221fb82d60b23ad497a&id=cc2fb6d4ec"
              class="button primary fit">Get Started</a
            >
          </li>
          <!-- <li><a href="#" class="button fit">Log In</a></li> -->
        </ul>
      </nav>

      <!-- Banner -->
      <section id="banner" class="major">
        <div class="inner">
          <header class="major">
            <h1>Gingerbread Homes</h1>
          </header>
          <div class="content">
            <p>Cottage Builder</p>
            <ul class="actions">
              <li>
                <a
                  href="https://gingerbreadhomes.us14.list-manage.com/subscribe?u=d54442221fb82d60b23ad497a&id=cc2fb6d4ec"
                  class="button next scrolly">Get Started</a
                >
              </li>
            </ul>
          </div>
        </div>
      </section>

      <!-- Main -->
      <div id="main">
        <slot />
      </div>

      <!-- Footer -->
      <footer id="footer">
        <div class="inner">
          <ul class="icons">
            <li>
              <a href="#" class="icon brands alt fa-twitter"
                ><span class="label">Twitter</span>
              </a>
            </li>
            <li>
              <a href="#" class="icon brands alt fa-facebook-f"
                ><span class="label">Facebook</span>
              </a>
            </li>
            <li>
              <a href="#" class="icon brands alt fa-instagram"
                ><span class="label">Instagram</span>
              </a>
            </li>
            <li>
              <a href="#" class="icon brands alt fa-github"
                ><span class="label">GitHub</span>
              </a>
            </li>
            <li>
              <a href="#" class="icon brands alt fa-linkedin-in"
                ><span class="label">LinkedIn</span>
              </a>
            </li>
          </ul>
          <ul class="copyright">
            <li>&copy; Untitled</li>
            <li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>
